* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f9f9fb;
  color: #333;
}

.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.todo-banner {
  width: 100%;
  height: 300px;
  background-image: url("@/assets/bg-img/Bitmap.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.todo-header {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  margin-bottom: 80px;
}

.todo-header h1 {
  font-size: 36px;
  letter-spacing: 10px;
  color: white;
  font-weight: 7000px;
  z-index: 0;
}

.todo-theme-icon {
  font-size: 26px;
  color: white;
}

.todo-container {
  width: 500px;
  margin-top: -100px;
}

.todo-input {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 15px;
}

.todo-input input {
  flex: 1;
  border: none;
  outline: none;
  color: #777;
  font-size: 14px;
}

.todo-list {
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #555;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-checked {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  border: none;
}

.checkmark {
  color: white;
  font-size: 12px;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #bbb;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-size: 12px;
  color: #999;
}

.filters span {
  margin: 0 5px;
  cursor: pointer;
}

.filters .active {
  color: #4a73e4;
  font-weight: 700;
}

.todo-reorder {
  text-align: center;
  color: #aaa;
  font-size: 12px;
  margin-top: 30px;
}
