@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Inter", sans-serif;
    /* background-image: url("../assets/bg/bg-image.svg"); */
  }
  .hide-spline-watermark > .spline-watermark {
    display: none !important;
  }
}
