@import "tailwindcss";
@import "tw-animate-css";

.main-card {
  background-image: url(../assets/svg/main-card.svg);
}
@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #021a38;
    font-family: "Inter", sans-serif;
    background-image: url("../assets/bg/bg-image.svg");
  }
}
