@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    /* Sesuaikan dengan kecepatan di komponen JSX (misalnya 30s) */
    animation: marquee 30s linear infinite;
  }
}
